## Deliverable 3. Create a Travel Itinerary Map.

In [20]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps
from pprint import pprint
import json
import numpy as np

# Import API key
from config import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

In [21]:
# 1. Read the WeatherPy_vacation.csv into a DataFrame.
vacation_df = pd.read_csv("../Vacation_Search/WeatherPy_vacation.csv")
vacation_df.head()

,City_ID,City,Country,Max Temp,Description,Lat,Lng,Hotel Name
0,0,Dingle,PH,79.77,overcast clouds,10.9995,122.6711,SEGAYA PROPERTY
1,3,Kapaa,US,79.12,clear sky,22.0752,-159.3190,Sheraton Kauai Coconut Beach Resort
2,7,Bluff,NZ,76.80,light rain,-46.6000,168.3333,Bluff Homestead - Guesthouse & Campervan Park
3,9,Alofi,NU,76.89,light intensity drizzle,-19.0595,-169.9187,Taloa Heights
4,14,Rikitea,PF,78.35,broken clouds,-23.1203,-134.9692,People ThankYou

In [22]:
# 2. Using the template add the city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>City Name</dt><dd>{City}</dd>
<dt>Country Code</dt><dd>{Country}</dd>
<dt>Weather Description</dt><dd>{Description}</dd>
<dt>Max Temperature</dt><dd>{Max Temp}</dd>
</dl>

"""

# 3a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in vacation_df.iterrows()]

# 3b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = vacation_df[["Lat", "Lng"]]

In [23]:
# 4a. Add a marker layer for each city to the map.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)

# 4b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))

In [73]:
Itinerary_destinations= vacation_df.loc[(vacation_df["City"]== "Touros") | (vacation_df["City"]== "Utinga") | 
(vacation_df["City"]== "Cabedelo") | (vacation_df["City"]== "Tamandare")]

Itinerary_destinations

,City_ID,City,Country,Max Temp,Description,Lat,Lng,Hotel Name
63,270,Tamandare,BR,79.11,few clouds,-8.7597,-35.1047,Pousada 100 Passos
83,377,Cabedelo,BR,79.47,clear sky,-6.9811,-34.8339,Hotel Pigalle
129,579,Utinga,BR,79.20,few clouds,-5.8172,-35.3954,Espaço de Lazer Érica Fernandes
147,647,Touros,BR,77.90,scattered clouds,-5.1989,-35.4608,INN NEW HORIZON

In [24]:
# From the map above pick 4 cities and create a vacation itinerary route to travel between the four cities. 
# 5. Create DataFrames for each city by filtering the 'vacation_df' using the loc method. 
# Hint: The starting and ending city should be the same city.

vacation_start = vacation_df.loc[(vacation_df["City"]== "Touros")]
vacation_end = vacation_df.loc[(vacation_df["City"]== "Touros")]
vacation_stop1 = vacation_df.loc[(vacation_df["City"]== "Utinga")]
vacation_stop2 = vacation_df.loc[(vacation_df["City"]== "Cabedelo")] 
vacation_stop3 = vacation_df.loc[(vacation_df["City"]== "Tamandare")]

In [67]:
# 6. Get the latitude-longitude pairs as tuples from each city DataFrame using the to_numpy function and list indexing.
start = vacation_start["Lat"].to_numpy()[0], vacation_start["Lng"].to_numpy()[0]
end = vacation_end["Lat"].to_numpy()[0], vacation_end["Lng"].to_numpy()[0]
stop1 = vacation_stop1["Lat"].to_numpy()[0], vacation_stop1["Lng"].to_numpy()[0]
stop2 = vacation_stop2["Lat"].to_numpy()[0], vacation_stop2["Lng"].to_numpy()[0]
stop3 = vacation_stop3["Lat"].to_numpy()[0], vacation_stop3["Lng"].to_numpy()[0]

print(f"Start: {start}, End: {end}")
print(f"Stop 1: {stop1}, Stop 2: {stop2}, Stop 3: {stop3}")

Start: (-5.1989, -35.4608), End: (-5.1989, -35.4608)
Stop 1: (-5.8172, -35.3954), Stop 2: (-6.9811, -34.8339), Stop 3: (-8.7597, -35.1047)

In [59]:
# 7. Create a direction layer map using the start and end latitude-longitude pairs,
# and stop1, stop2, and stop3 as the waypoints. The travel_mode should be "DRIVING", "BICYCLING", or "WALKING".
fig = gmaps.figure()
vacation_itinerary = gmaps.directions_layer(
        start, end, waypoints=[stop1, stop2, stop3],
        travel_mode='DRIVING')

fig.add_layer(vacation_itinerary)
fig

Figure(layout=FigureLayout(height='420px'))

In [60]:
# 8. To create a marker layer map between the four cities.
#  Combine the four city DataFrames into one DataFrame using the concat() function.
itinerary_df = pd.concat([vacation_start, vacation_stop1, vacation_stop2, vacation_stop3],ignore_index=True)
itinerary_df

,City_ID,City,Country,Max Temp,Description,Lat,Lng,Hotel Name
0,647,Touros,BR,77.90,scattered clouds,-5.1989,-35.4608,INN NEW HORIZON
1,579,Utinga,BR,79.20,few clouds,-5.8172,-35.3954,Espaço de Lazer Érica Fernandes
2,377,Cabedelo,BR,79.47,clear sky,-6.9811,-34.8339,Hotel Pigalle
3,270,Tamandare,BR,79.11,few clouds,-8.7597,-35.1047,Pousada 100 Passos

In [64]:
# 9 Using the template add city name, the country code, the weather description and maximum temperature for the city. 
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City Name</dt><dd>{City}</dd>
<dt>Country Code</dt><dd>{Country}</dd>
<dt>Weather Description</dt><dd>{Description}</dd>
<dt>Max Temperature</dt><dd>{Max Temp}</dd>
</dl>
"""

# 10a Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in itinerary_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = itinerary_df[["Lat", "Lng"]]

In [65]:
# 11a. Add a marker layer for each city to the map.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)

# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))